.container-inside {
    // background-color: black;
    color: white;
    position: absolute;
    right: 0;
    margin: 20px;
    margin-right: 37%;
    margin-top: 15%;
    width: 400px;
    max-width: 550px;
    padding: 16px;
  }