main{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 0px;
}
app-square{
    border: 1px grey solid;
    height: 100px;
}
.container {
    position: absolute;
    right: 0;
    margin: 20px;
    margin-right: 40%;
    margin-top: 5%;
    max-width: 360px;
    padding: 16px;
  }